.vertical-center
{
	min-height: 100vh;
	margin :0;
	display: flex;
	align-items :center;
}
h1
{
	margin:24px 0;
}
.messages p
{
	margin: 6px 0;
}
 .cform
   {
   	margin-top: 40px;
   }
@media(max-width:768px) {
   .cform
   {
   	margin-top: 120px;
   }
}
.crop{
   display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50}
